.element__delete {
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-image: url('../../../images/trash.svg');
  background-size: contain;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity .3s linear;
}

.element__delete:hover {
  cursor: pointer;
  opacity: .6;

}
