.authentication__sign-in-inscription {
  margin: 15px auto 0;
  padding: 0;
  color: #fff;
  max-width: 358px;
  max-height: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
